@media screen and (max-width:767px){
	
	.menu{
		display: none;
	}
	
	.box_menu{
		display: none;
	}
	
	.fluid2 {
		padding:0;
	}

	img{
		width: 100%;
	}
	
	.sp_menu_all{
		background: #FCFBE5;
	}
	
	#menu-bt img{
		width: 46%;
		margin-left: 27%;
		margin-top: 2%;
		padding: 3%;
	}
	
	#menu_sp{
		margin-top: 4%;
	}
	
	#menu_sp a{
		display: block;
	}
	
	#menu_sp li{
		list-style: none;
	}
	
	#menu_sp img{
		width: 57%;
		margin-left: 16%;
	}
	
	#menu_sp ul{
		background-image: url(../images/sp_img/dorower_back.png);
		background-size: 100%;
	}
	
	.pagetop{
		width: 22%;
		position: fixed;
		right: 0;
		bottom:0;
		display: none;
	}
	
	.dih_explain{
		position: relative;
		width: 82%;
		margin-top:11%;
		margin-left: 10%;
		z-index: 1;
	}
	
	.sns{
		width: 82%;
	}
	
	.twitter{
		width: 5.5%;
		position: absolute;
		left: 43%;
		top:73%;
		padding: 0;
		}
	
	.facebook{
		width: 5%;
		position: absolute;
		top:72.5%;
		left: 50%;
		padding: 0;
	}
	
	.threeword{
	text-align: center;
	margin-top: 10%;
	}
	
	.threeword img{
		width: 30%;
	}
	
	.bbq{
	width: 91.5%;
	margin-left: 4.5%;
	margin-top: 6%;
}
	
	.top_access{
		width: 94%;
		margin-left: 6%;
		margin-top: 3%;
		
	}
	
	#access_box{
		background: #FCFBE5;
		width: 94%;
		padding: 3%;
		overflow: hidden;
		zoom:1;
		border-top:solid 6pt #e6e6e6;
		border-bottom:solid 6pt #e6e6e6;
	}

	#moji{
		background: #ffffff;
		border-radius: 40px;
		padding: 1.5% 2% 5% 4%;
		margin-top: 3%;
	}
	#moji p,h2,h3{
		padding: 0;
		margin: 0;
		color: #4d4d4d;
	}
	
	#moji h2{
		border-bottom: dashed 2px #4d4d4d;
		margin-bottom: 20px;
		margin-top: 5%;
	}
	
	#moji h3{
		font-size: 18pt;
	}
	
	#moji p{
		margin-left: 2%;
	}
	
	#map{
		height: auto;
	}
	
	iframe{
		margin-top: 6%;
	}
	
	.keirestu{
		margin-left: 5%;
		margin-top: 5%;
	}
	
	.keirestu img{
		width: 30%;
	}
	
	#keiretu_no1{
		margin-left: 1%;
		margin-top: 2%;
	}
	
	#keiretu_no1 img{
		width: 31%;
		padding: 0%;
	}
	
	#keiretsu_no2{
		margin-left: 1%;
		margin-top: 0.5%;
	}
	
	#keiretsu_no2 img{
		width: 46.7%;
		padding: 0;
	}

	footer{
		background: #76d9ff;
		padding-top: 6%;
		width: 100%;
	}
}/*サイズ指定終わり*/
