@media screen and (min-width:768px){

	p{
		padding: 0;
		margin: 0;
		color: #534741;
	}
	
	h1,h2{
		padding: 0;
		margin: 0;
		color: #534741;
	}
	
	main{
		padding: 1%;
	}
	
	#top_img img{
		width: 80%;
		margin-left: 10%;
	}
	
	.hako{
		width: 100%;
		margin-left: 5.5%;
		margin-top: 3%;
		margin-bottom: -3.3%;
		position: relative;
		z-index: 5;
	}
	
	.hako img{
		padding: 0;
		width: 14%;
		border: 0;
		opacity: 1;
		transition: 0.3s;
	}

	a:hover img{
		opacity: .5;
	}
	
	.m img{
		width: 2.2%;
	}
	
	.box_menu{
		background: #FCFBE5;
		width: 100%;
		height: 60px;
	}

	.house17{
		margin-top: 4%;
		overflow: hidden;
		zoom:1;
		background: #FCFBE5;
		padding: 3% 0% 3% 0%;
	}
	
	.sp_menu_all{
		display: none;
	}
	
	.pagetop img{
	display: none;
	}

	.photo1{
		margin-left: 8%;
		float: left;
		width: 59%;
	}
	
	.photo1 img{
		width: 100%;
	}
	
	.kuzureyobou{
		width: 31%;
		padding-top: 2%;
		padding-bottom: 3%;
		float: right;
		margin-right: 1%;
		background: #ffffff;
		border-radius: 23px;
	}
	
	.kuzureyobou h1{
		padding: 0;
		margin: 0;
		color: #ffffff;

	}
	
	.kuzureyobou img{
		width: 100%;
		margin-top: 0;
	}
	
	.ie7{
		color: blue;
		text-align: center;
		font-size: small;
	}
	
	.room_1{
		position: relative;
		margin-left: 14%;
		width: 69%;
	}
	
	.room_1 h1{
		position: absolute;
		top:7%;
		left: 16%;
		font-size: 2.5vw;
	}
	
	.price{
		font-size: 1.5vw;
		font-weight: bold;
	}
	
	.text{
		width: 86%;
		margin-left: 12%;
	}
	
	.text h2{
		font-size: 1.8vw;
	}
	
	.moji1{
		font-size:1vw;
		width: 92%;
	}
	.moji2{
		font-size:1vw;
		width: 92%;
	}
	
	.maisonette{
		margin-top: 4%;
		overflow: hidden;
		zoom:1;
		background: #FCFBE5;
		padding: 3% 0% 3% 0%;
	}
	
	.chuijiko{
		margin-top: 4%;
	}
	
	.chui{
		margin-left: 37%;
	}
	
	.chuijiko_sp_1{
		display: none;
	}
	
	.mod_gallery{
		overflow: hidden;
		zoom:1;
	}
	
	.mod_gallery_photo{
		float: left;
		width: 47%;
		margin-left: 8%;
	}
	
	.mod_gallery_photo img{
		width: 100%;
	}
	
	.mod_gallery_navi{
		float: right;
		width: 11%;
		margin-right: 33%;
		margin-top: -2%;
	}
	
	.mod_gallery_navi img{
		width: 100%;
		margin-top: 4%;
	}
	
	li{
		list-style: none;
	}
	
	ul{
		padding: 0;
	}
	
	.kuzureyobou1{
		width: 31%;
		padding-top: 2%;
		padding-bottom: 18%;
		position: absolute;
		right: 1%;
		top:5%;
		background: #ffffff;
		border-radius: 23px;
	}
	
	.kuzureyobou1 h1{
		padding: 0;
		margin: 0;
		color: #ffffff;
	}
	
	.kuzureyobou1 img{
		width: 100%;
		margin-top: 0;
	}
	
	.room101,.room102,.room201,.room202,.room203{
		position: relative;
		margin-top: 4%;
		background: #FCFBE5;
		padding: 3% 0% 3% 0%;
	}

	.cancel_amenities{
		overflow: hidden;
		zoom:1;
		width: 69%;
		margin-left: 12%;
		margin-top: 4%;
		margin-bottom: 4%;
		border: solid 11pt #76d9ff;
		padding: 4%;
		border-radius: 51px;
	}

	#cancel{
		float: left;
	}
	
	#amenities{
		float: right;
		border-left: dotted;
		padding-left: 10%;
	}
	
	.chuijiko_sp{
		display: none;
	}
}/*サイズ指定終わり*/
